<div class="row">
  <div class="col-8">

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-opened-tab" data-toggle="tab" href="#nav-opened" role="tab" aria-controls="nav-opened" aria-selected="true">Opened (<%= @opened_surveys.count %>)</a>
        <a class="nav-item nav-link" id="nav-closed-tab" data-toggle="tab" href="#nav-closed" role="tab" aria-controls="nav-closed" aria-selected="false">Closed (<%= @closed_surveys.count %>)</a>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-opened" role="tabpanel" aria-labelledby="nav-opened-tab">
        <%= render partial: 'opened_surveys_table' %>
      </div>
      <div class="tab-pane fade" id="nav-closed" role="tabpanel" aria-labelledby="nav-closed-tab">
        <%= render partial: 'closed_surveys_table' %>
      </div>
    </div>

    <%= link_to 'Add Survey', new_admin_survey_path, class: 'btn btn-success' %>

  </div>

  <div class="col-4">
    <%= if @survey
          render partial: 'survey_preview', locals: {survey: @survey}
        end %>
  </div>
</div>
