<% @surveys.each do |survey| %>
  <div class="row">
    <h3 class="col-12"><%= survey.question %></h3>
    <div class="col-12">
      <% survey.survey_answers.each do |answer| %>
        <div class="row">
          <%= answer.answer %>
          <%= answer.votes %>
          <%= link_to 'Vote', admin_survey_vote_path(id:survey.id,answer_id: answer.id), method: :post %>
        </div>
      <% end %>
    </div>
    <%= link_to 'Delete Survey', admin_survey_path(id:survey.id), method: :delete %>
  </div>
<% end %>

<%= link_to 'Add Survey', new_admin_survey_path %>
