<div class="row">
  <div class="col-5">
    <div class="row">
      <%= image_tag('sign_up.jpg', :alt => 'signup image', class: 'p-0') %>
    </div>
  </div>
  <div class="col-7">
    <div class="row h-100 justify-content-center">
      <div class="col my-auto sign-form-wrapper">
        <h4>Sign Up to Sports Hub</h4>

        <div class="row d-flex flex-row pt-3">
          <div class="col">
            <a class='border rounded-circle p-1 border-dark fa fa-facebook text-decoration-none' href="#"></a>
            <a class='border rounded-circle p-1 border-dark fa fa-google text-decoration-none' href="#"></a>
          </div>
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field-group pt-3">
            <%= f.label :email, class: 'text-secondary small' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control rounded-0' %>
          </div>

          <div class="field-group pt-3">
            <%= f.label :password, class: 'text-secondary small' %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class:'form-control rounded-0' %>
          </div>

          <div class="field-group pt-3">
            <%= f.label :password_confirmation, class: 'text-secondary small' %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control rounded-0' %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: 'btn btn-primary rounded-0 w-100 mt-4' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
