<div class="row admin-side-nav">
  <div class="col">
    <ul class="nav flex-column">
      <li class="nav-item d-flex justify-content-center">
        <%= link_to admin_root_path, { title: 'Home', data: { toggle: 'tooltip', placement: 'right' } } do %>
          <i class="fa fa-home" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <%= link_to admin_surveys_path, { title: 'Surveys', data: { toggle: 'tooltip', placement: 'right' } } do %>
          <i class="fa fa-pie-chart" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <%= link_to admin_banners_path, { title: 'Banners', data: { toggle: 'tooltip', placement: 'right' } } do %>
          <i class="fa fa-picture-o" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <%= link_to admin_languages_path, { title: 'Languages', data: { toggle: 'tooltip', placement: 'right' } } do %>
          <i class="fa fa-language" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <%= link_to admin_footer_path, { title: 'Footer', data: { toggle: 'tooltip', placement: 'right' } } do %>
          <i class="fa fa-th-large" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <%= link_to admin_social_networks_path, { title: 'Social Networks', data: { toggle: 'tooltip', placement: 'right' } } do
      %>
    <i class="fa fa-share-alt" aria-hidden="true"></i>
  <% end %>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <%= link_to admin_users_path, { title: 'Users', data: { toggle: 'tooltip', placement: 'right' } } do %>
          <i class="fa fa-user" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <%= link_to admin_ia_path, { title: 'IA', data: { toggle: 'tooltip', placement: 'right' } } do %>
          <i class="fa fa-sitemap" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <%= link_to admin_teams_path, { title: 'Teams', data: { toggle: 'tooltip', placement: 'right' } } do %>
          <i class="fa fa-users" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <%= link_to admin_partners_news_path, { title: 'News Partners', data: { toggle: 'tooltip', placement: 'right' } } do %>
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <%= link_to admin_advertising_path, { title: 'Advertising', data: { toggle: 'tooltip', placement: 'right' } } do %>
          <i class="fa fa-optin-monster" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>
