<div class="row">
  <ul>
    <li><%= link_to 'Home', admin_root_path %></li>
    <li><%= link_to 'Surveys', admin_surveys_path %></li>
    <li><%= link_to 'Banners', admin_banners_path %></li>
    <li><%= link_to 'Languages', admin_languages_path %></li>
    <li><%= link_to 'Footer', admin_footer_path %></li>
    <li><%= link_to 'Social Networks', admin_social_networks_path %></li>
    <li><%= link_to 'Users', admin_users_path %></li>
    <li><%= link_to 'IA', admin_ia_path %></li>
    <li><%= link_to 'Teams', admin_teams_path %></li>
    <li><%= link_to 'News Partners', admin_partners_news_path %></li>
    <li><%= link_to 'Advertising', admin_advertising_path %></li>
  </ul>
</div>
