<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-inverse p-0 justify-content-between w-100">
      <div class="navbar-header px-5 py-3">
        <%= link_to 'Sports Blog', root_path, class: 'navbar-brand m-0' %>
      </div>

      <div id="navbar">
        <ul class="nav navbar-nav pull-right flex-row">
          <% if user_signed_in? %>
            <li class="h6 align-items-center d-flex px-2 border rounded m-0 mr-2"><%= link_to root_path do %>
              <i class="fa fa-exchange" aria-hidden="true"></i>
            <% end %>
            </li>
            <li class="h6 align-items-center d-flex px-2 border rounded m-0 mr-2">
              <%= link_to admin_users_path do %>
                <img src="https://dummyimage.com/48x48/c4c4c4/000000.jpg&text=avatar" alt="user avatar" class="rounded-circle mr-2">
                <%= current_user.name %>
              <% end %>
            </li>
            <li>
              <%= link_to 'log out', destroy_user_session_path, method: :delete, class:'btn btn-outline-primary' %>
            </li>
          <% else %>
            <li class='d-flex align-items-center px-4'>don’t have an account?</li>
            <li><%= link_to 'get started', new_user_registration_path, class: 'btn btn-outline-primary px-3 py-2 rounded-0' %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="col-12">
      <div class="row py-2 justify-content-between">
        <h3 class="px-2">
          <%= content_for?(:page_title) ? yield(:page_title) : controller_name.titleize %>
        </h3>
        <%= content_for?(:add_item_button) ? yield(:add_item_button) : "" %>
      </div>
    </div>
  </div>
</div>
