<!DOCTYPE html>
<html>
  <head>
    <title>Sports Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="alert alert-danger <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= render 'layouts/admin/admin_navigation' %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-1">
          <%= render 'layouts/admin/admin_side_nav'  %>
        </div>
        <div class="col-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
