<% content_for(:add_item_button) { link_to 'Add Team', new_admin_team_path, class: 'btn btn-outline-danger' } %>
<div class="row py-3">
  <h3>Teams</h3>
  <% @teams.each do |team| %>
    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <%= team.name %>
        </div>
        <div class="col-3">
          <%= team.category.title %>
        </div>
        <div class="col">
          <%= image_tag team.team_logo, class: 'img-fuid',size:'100x100' unless team.team_logo.blank? %>
        </div>
        <div class="col">
          <%= link_to 'Delete', admin_team_path(team), method: :delete, class:'btn btn-outline-danger' %>
          <%= link_to 'Edit', edit_admin_team_path(team), class: 'btn btn-outline-success' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
