<nav class="navbar navbar-inverse p-0 some-class-here justify-content-between w-100">
  <div class="container-fluid p-0">
    <div class="navbar-header px-5 py-3">
      <%= link_to 'Sports Blog', root_path, class: 'navbar-brand m-0' %>
    </div>
    <div id="navbar">

    <ul class="nav navbar-nav pull-right">
      <li><% link_to 'Home', root_path %></li>
      <ul class="nav navbar-nav pull-right flex-row">
        <% if user_signed_in? %>
          <li><%= current_user.email %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class:'btn btn-outline-primary' %></li>
          <li><%= current_user.role %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </ul>
  </div>
</nav>
