<!DOCTYPE html>
<html>
  <head>
    <title>Sports Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div id="flash" onclick="this.remove()">
      <% flash.each do |key, value| %>
        <div class="alert alert-danger <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
